* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

#board,
.square {
	border: 1px solid black;
}

#board {
	width: 800px;
	height: 800px;
}

.square {
	width: 100px;
	height: 100px;
}
